<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomio</title>
</head>
<body>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings">
        <input name="title" placeholder="Add title" type="text">
        <br>
        <textarea name="description" placeholder="Add title"></textarea>
        <br>
        <input name="image" placeholder="Add Image" type="text">
        <br>
        <input name="price" placeholder="Add Price" type="number">
        <br>
        <input name="location" placeholder="Add location" type="text">
        <br>
        <input name="country" placeholder="Add Country" type="text">
        <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>