<%- layout("/layouts/boilerplate.ejs") %>

    <body>
        <br>
        <h3 style="text-align: center;">Create a new Listing</h3>

        <br>
        <form method="POST" action="/listings" novalidate class="needs-validation">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" placeholder="Add title" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please Enter Title
                        </div>
                        <div class="valid-feedback">
                        Title looks good!
                    </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Add description" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please Enter Description
                        </div>
                    </div>

                    <div class="mb-3 ">
                        <label for="listing_image" class="form-label">Image Link</label>
                        <input name="listing[image]" placeholder="Add Image" type="text" class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="Add Price" class="form-control" required>
                            <div class="invalid-feedback">
                                Please Enter Price
                            </div>
                        </div>

                        <div class="mb-3 col-md-8   ">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" placeholder="Add Country" type="text" class="form-control" required>
                            <div class="invalid-feedback">
                                Please Enter Country
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" placeholder="Add location" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please Enter Location
                        </div>
                    </div>

                    <br><br>

                    <button type="submit" class="btn add-btn">Add Listing</button>
        </form>

        <br><br>

        </div>
        </div>

    </body>