<%- layout("/layouts/boilerplate.ejs") %>

    <body>
        <br>
        <h3 style="text-align: center;">Create a new Listing</h3>

        <br>
        <form method="POST" action="/listings">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="title" placeholder="Add title" type="text" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" placeholder="Add title" class="form-control"></textarea>
                    </div>

                    <div class="mb-3 ">
                        <label for="listing_image" class="form-label">Image Link</label>
                        <input name="image" placeholder="Add Image" type="text" class="form-control">
                    </div>



                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="price" placeholder="Add Price" type="number" class="form-control" required>
                        </div>



                        <div class="mb-3 col-md-8   ">
                            <label for="country" class="form-label">Country</label>
                            <input name="country" placeholder="Add Country" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="location" placeholder="Add location" type="text" class="form-control" required>
                    </div>

                    <br><br>

                    <button type="submit" class="btn add-btn">Add Listing</button>
        </form>

        <br><br>

        </div>
        </div>

    </body>